@using OnlineShop.Models
@model IEnumerable<SpecialTag>
@{
    ViewData["Title"] = "Special Tag Home Page";
}

<br />

<div class="row">
    <div class="col-md-6">
        <h2>Special Tag List</h2>
    </div>
    <div class="col-md-6 text-md-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Add New Special Tag</a>
    </div>
</div>

<br />

<div>
    <table class="table table-striped border">
        <thead class="table-info">
            <tr>
                <th>@Html.DisplayNameFor(e => e.SpecialTagName)</th>
                <th></th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SpecialTagName</td>
                    <td><partial name="_ActionButtonParital" model="@item.ID" /></td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    @{
        if (TempData["Save"] != null)
        {
            <script type="text/javascript">
            $(function () {
                alertify.success('@TempData["Save"]');
            });
            </script>
        }
        else if (TempData["Edit"] != null)
        {
            <script type="text/javascript">
            $(function () {
                alertify.success('@TempData["Edit"]');
            });
            </script>

        }
        else if (TempData["Delete"] != null)
        {
            <script type="text/javascript">
            $(function () {
                alertify.error('@TempData["Delete"]');
            });
            </script>

        }
    }
}
